@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.woff2') format('woff2'),
        url('fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* @link https://utopia.fyi/type/calculator?c=320,16,1.125,1440,18,1.25,5,3,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root{
    --step--3: clamp(0.576rem, 0.7384rem + -0.1805vw, 0.7023rem);
    --step--2: clamp(0.72rem, 0.8102rem + -0.1002vw, 0.7901rem);
    --step--1: clamp(0.8889rem, 0.8857rem + 0.0159vw, 0.9rem);
    --step-0: clamp(1rem, 0.9643rem + 0.1786vw, 1.125rem);
    --step-1: clamp(1.125rem, 1.0446rem + 0.4018vw, 1.4063rem);
    --step-2: clamp(1.2656rem, 1.125rem + 0.7031vw, 1.7578rem);
    --step-3: clamp(1.4238rem, 1.2028rem + 1.1049vw, 2.1973rem);
    --step-4: clamp(1.6018rem, 1.2747rem + 1.6354vw, 2.7466rem);
    --step-5: clamp(1.802rem, 1.336rem + 2.3303vw, 3.4332rem);
    
    --texts: #F8F9FA;
    --border: 1px solid rgba(255, 255, 255, 0.1);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: #0a1f2e;
    font-family: "Roboto", sans-serif;
    color: var(--texts);
    width: 100vw;
    min-height: 100vh;
}

.image-holder{
    position:fixed; /* This allows me to pin the full image to the viewport :) */
    inset: 0;
    z-index: -1;
}

.image-holder::before{
    content: "";
    inset: 0;
    position: absolute;
    background: url("assets/wave-haikei.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height:100%;
    
}

.main-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10%;
    display: flex;
    justify-content: center;
}

.library-container{
    padding-top: 1.5rem;
    text-align: center;
    background-color: rgba(0, 34, 51, 0.6);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: var(--border);
    border-radius: 12px;
    min-width: 70%;
    height: fit-content;
    padding-bottom: 2rem;
}

.library-container h1{
    font-size: var(--step-3);
}

.library-container h2{
    margin-top: 2rem;
}

.library-container .icon{
    width: 20px;
    margin-right:10px ;
}

.book-collection{
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    gap: 6rem;
}

.book-card{
    padding: 40px 40px 40px 40px;
    background-color: rgba(0, 34, 51, 1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: var(--border);
    border-radius: 12px;
}

.book-info > p{
    padding-top: 10px;
    padding-bottom: 10px;
}

.book-info .book-cover{
    object-fit: cover;
    width: 150px;
    aspect-ratio: 2 / 3;
    
    border-radius: 12px;
}


.glass-button{
    margin-top: 1.5rem;
    background-color: rgba(255, 255, 255, 0.1);
    border:1px solid rgba(255, 255, 255, 0.3);
    color: #FFFFFF;
    text-transform: capitalize;
    width: 40%;
    height: 50px;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    transition: 0.5s;
}

.glass-button:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

dialog#book-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

dialog#book-dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

dialog#book-dialog{
    min-width: 30%;
    background-color: rgba(13, 27, 42, 0.90);
    color: var(--texts);
    border: var(--border);
    border-radius: 12px;
    padding: 20px 15px 20px 15px;
}


.form-entry{
    width: 55%;
}

dialog#book-dialog input{
    color: #FFFFFF;
    background-color:rgba(255, 255, 255, 0.1);
    border: none;
    outline: none;
    border-radius: 5px;
    height: 35px;
    width: 100%;
    
}

dialog#book-dialog input:hover,
dialog#book-dialog input:focus{
    border: 1px solid rgba(255, 255, 255, 0.8);
}



dialog#book-dialog label{
    text-align: left;
    display: block;
}

legend{
    width: 100%;
    text-align: center;
    padding-bottom: 1.5rem;
    font-size: var(--step-2);
}

label{
    font-size: var(--step-1);
    padding-bottom: 1rem;
}

.entry-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

fieldset{
    border: none;
}










